In [11]:
import pandas as pd

# NYC Squirrel Census 2018 dataset
url = "https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD"
df_squirrels = pd.read_csv(url)
df_squirrels.head()

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,AM,10192018,4,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10142018,8,NaN,Gray,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)

In [12]:
import pandas as pd

# Load the dataset from the URL
url = 'https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD'
df = pd.read_csv(url)

# Get the number of rows and columns
num_rows, num_columns = df.shape

print(f'Number of rows: {num_rows}')
print(f'Number of columns: {num_columns}')

Number of rows: 3023
Number of columns: 31

Question 2.2:
Variables - Represents the columns in a dataset, the features/attributes that are being measured. In the case of the squirrel dataset, the 'variables' would be the many different observations of each unique squirrel, such as their fur color, age, and their general behaviours.

Observations - Represents the rows in a dataset, the individual data point for the variable being checked. In the case of the squirrel dataset, the 'observations' would represent the detailed observations of each unique squirrel studied.

In [2]:
import pandas as pd

# Load the dataset
url = 'https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD'
df = pd.read_csv(url)

# Get the count of unique values for each categorical variable
for column in df.select_dtypes(include=['object']).columns:
    print(f'\nSummary for {column}:')
    print(df[column].value_counts())

Summary for Unique Squirrel ID:
Unique Squirrel ID
7D-PM-1010-01     2
40B-AM-1019-06    2
37E-PM-1006-03    2
4C-PM-1010-05     2
1F-AM-1010-04     2
                 ..
13F-AM-1007-01    1
12D-AM-1013-02    1
2F-AM-1006-03     1
9H-PM-1018-04     1
5E-PM-1012-01     1
Name: count, Length: 3018, dtype: int64

Summary for Hectare:
Hectare
14D    32
32E    30
14E    28
01B    27
07H    26
       ..
11C     1
23D     1
26B     1
24B     1
30F     1
Name: count, Length: 339, dtype: int64

Summary for Shift:
Shift
PM    1676
AM    1347
Name: count, dtype: int64

Summary for Age:
Age
Adult       2568
Juvenile     330
?              4
Name: count, dtype: int64

Summary for Primary Fur Color:
Primary Fur Color
Gray        2473
Cinnamon     392
Black        103
Name: count, dtype: int64

Summary for Highlight Fur Color:
Highlight Fur Color
Cinnamon                  767
White                     585
Cinnamon, White           268
Gray                      170
Gray, White                59
Black                      34
Black, Cinnamon, White     32
Black, White               10
Black, Cinnamon             9
Gray, Black                 3
Name: count, dtype: int64

Summary for Combination of Primary and Highlight Color:
Combination of Primary and Highlight Color
Gray+                          895
Gray+Cinnamon                  752
Gray+White                     489
Gray+Cinnamon, White           265
Cinnamon+Gray                  162
Cinnamon+White                  94
Black+                          74
Cinnamon+                       62
Cinnamon+Gray, White            58
+                               55
Gray+Black, Cinnamon, White     32
Gray+Black                      24
Black+Cinnamon                  15
Cinnamon+Black                  10
Gray+Black, Cinnamon             9
Black+Gray                       8
Gray+Black, White                7
Black+Cinnamon, White            3
Cinnamon+Black, White            3
Cinnamon+Gray, Black             3
Black+White                      2
Black+Gray, White                1
Name: count, dtype: int64

Summary for Color notes:
Color notes
Gray & Cinnamon selected as Primary. White selected as Highlights. Made executive adjustments.                     9
white belly                                                                                                        5
white back legs                                                                                                    4
Gray & Cinnamon selected as Primary. Nothing selected as Highlights. Made executive adjustments.                   4
White tail                                                                                                         4
                                                                                                                  ..
skinny tail                                                                                                        1
Drawing included on tally sheet                                                                                    1
Black & Cinnamon selected as Primary. White selected as Highlights. Made executive adjustments.                    1
very long tail                                                                                                     1
Gray & Cinnamon selected as Primary. Gray, Cinnamon & White selected as Highlights. Made executive adjustments.    1
Name: count, Length: 135, dtype: int64

Summary for Location:
Location
Ground Plane    2116
Above Ground     843
Name: count, dtype: int64

Summary for Above Ground Sighter Measurement:
Above Ground Sighter Measurement
FALSE    2116
10        116
20         84
15         71
2          55
3          52
5          51
30         44
4          42
25         33
6          32
1          30
8          30
40         25
50         19
7          19
12         16
13         11
35         10
28          7
18          5
100         5
45          4
9           4
17          3
60          3
14          2
24          2
23          2
65          2
11          2
43          2
16          2
33          1
31          1
80          1
0           1
180         1
55          1
70          1
19          1
Name: count, dtype: int64

Summary for Specific Location:
Specific Location
tree                                          43
in tree                                       32
on fence                                       8
Tree                                           7
treed area                                     6
                                              ..
Gathering/digging in grassy area b/w trees     1
hanging upside down to get a nut               1
running on rocks                               1
playing very high in tree w/ #7                1
Across Transverse                              1
Name: count, Length: 304, dtype: int64

Summary for Other Activities:
Other Activities
digging                                              19
sitting                                              16
walking                                              14
burying                                              12
playing                                              11
                                                     ..
jumped off                                            1
looked like it was smelling/digging in the ground     1
running (from a dog)                                  1
jumping tree to tree                                  1
eating (on branch)                                    1
Name: count, Length: 307, dtype: int64

Summary for Other Interactions:
Other Interactions
runs from (dog)                       9
curious                               6
runs from (me)                        5
me                                    4
stared                                4
                                     ..
ran two feet up tree trunk            1
scared                                1
runs from (kids kicking the fence)    1
asleep                                1
scolding                              1
Name: count, Length: 197, dtype: int64

Summary for Lat/Long:
Lat/Long
POINT (-73.9561344937861 40.7940823884086)    1
POINT (-73.9691453885964 40.7770524089712)    1
POINT (-73.9603245806655 40.7942712477697)    1
POINT (-73.9587464852561 40.793496354083)     1
POINT (-73.9695348385828 40.7703657361802)    1
                                             ..
POINT (-73.9689723590015 40.7756860990338)    1
POINT (-73.9719111470164 40.7758789855474)    1
POINT (-73.9755569170561 40.7668006977526)    1
POINT (-73.969553896295 40.7709884929277)     1
POINT (-73.9754794191553 40.7696404489025)    1
Name: count, Length: 3023, dtype: int64

In [7]:
import pandas as pd

# Load the dataset
url = 'https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD'
df = pd.read_csv(url)

print(df.shape)
print(df.describe())

(3023, 31)
                 X            Y          Date  Hectare Squirrel Number
count  3023.000000  3023.000000  3.023000e+03              3023.000000
mean    -73.967184    40.780853  1.011949e+07                 4.123718
std       0.007726     0.010285  4.246671e+04                 3.096492
min     -73.981159    40.764911  1.006202e+07                 1.000000
25%     -73.973102    40.771676  1.008202e+07                 2.000000
50%     -73.968594    40.778166  1.012202e+07                 3.000000
75%     -73.960189    40.791219  1.014202e+07                 6.000000
max     -73.949722    40.800119  1.020202e+07                23.000000

Question 4:
The reason why there is a discrepancy between the amount of rows and columns given by df.shape and df.describe() is due to the difference in their functions. df.describe() only analyzes the numerical columns of a DataFrame for statistical purposes, hence why the non-numerical variables (age and fur-colour for example) are not present. df.shape is used to provide the dimensions of a DataFrame, so it counts every row and column. This is also why values in the 'count' column could be different, because the count column only reports non-null entries (rows). However, since the numerical observations of the squirrel dataset contains no null entries, each count is equal to the total rows of the dataset.

Question 5: The difference between an attribute and a method is the way that they interact with objects. Attributes directly access the data of an object without any additional computations, like df.shape, which directly pulls the dimensions of a DataFrame. Methods, indicated by parentheses, perform computations based on the data of an object in order to generate and return results that are not available or held within an object. df.describe() is an example of this, as it accesses a DataFrame and generates statistics such as mean and percentages that are not locally available within the DataFrame.

Chat Summary (https://chatgpt.com/share/8c468e40-2624-4487-b78d-83e63ae236a5):

Summary
Dataset Insights:

You provided a link to a dataset of detailed observations of squirrels found in Central Park and asked about determining the number of rows and columns in the dataset.
We discussed using the df.shape attribute to get the number of rows and columns and df.describe() for summary statistics of numeric columns.
Data Discrepancy:

You noted a discrepancy between the number of rows and columns reported by df.shape and df.describe().
We explained that df.describe() provides statistics for numeric columns only and might not include all rows if there are missing values.
Attributes vs. Methods:

We discussed the difference between attributes and methods in Python:
Attributes: Variables that store data or state related to an object. Example: df.shape.
Methods: Functions that perform operations or computations. Example: df.describe().
Python Objects:

We clarified that df is an object in Python, specifically an instance of the pandas.DataFrame class.
As an object, df has attributes (like shape) and methods (like describe()) that are defined by the DataFrame class.
Feel free to reach out if you have any more questions or need further assistance!